body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    
    background-image: url(./drum_kit.jpeg);
    background-size: cover;
    background-position: top;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    font-family: sans-serif;
}

.key{
    width: 50px;
    font-size: 2rem;
    font-weight: 700;
    padding: 13px;
    
    border: 2px solid black;
    border-radius: 3px;
    color: rgb(255, 0, 115);
    background-color: rgba(0, 0, 0, 0.627);
    text-align: center;
    text-transform: uppercase;

    transition: all 0.2s;
}

span{
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: yellow;

}

/* active class to be added/removed using JS */
.play{
    transform: scale(1.2);
    border-color: yellow;
    box-shadow: 0 0 15px yellow;
    color: black;
    background-color: rgb(149, 29, 127);
    opacity: 0.79;
}